<div class="l-sidebar sidebar-is-reduced sidebar-is-expanded">
  <div class="logo">
    <div class="logo__txt">O</div>
  </div>
  <div class="l-sidebar__content sidebar-is-reduced sidebar-is-expanded">
    <nav class="c-menu js-menu">
      <ul class="u-list">
        <li class="c-menu__item has-submenu" routerLinkActive="is-active" data-toggle="tooltip" title="Dashboard">
          <a class="c-menu__item__inner" routerLink="/admin/dashboard"><i class="fa fa-tachometer"></i></a>
        </li>
        <li class="c-menu__item has-submenu" routerLinkActive="is-active" data-toggle="tooltip" title="Categories">
            <div class="c-menu__item__inner" routerLink="/admin/categories"><i class="fa fa-align-left"></i></div>
          </li>
        <li class="c-menu__item has-submenu" routerLinkActive="is-active" data-toggle="tooltip" title="Posts">
          <div class="c-menu__item__inner" routerLink="/admin/posts"><i class="fa fa-file-text-o"></i></div>
        </li>
        <li class="c-menu__item has-submenu" routerLinkActive="is-active" data-toggle="tooltip" title="Users">
          <div class="c-menu__item__inner" routerLink="/admin/users"><i class="fa fa-address-book-o"></i></div>
        </li>
        <li class="c-menu__item has-submenu" routerLinkActive="is-active" data-toggle="tooltip" title="Products">
          <div class="c-menu__item__inner" routerLink="/admin/products"><i class="fa fa-leaf"></i></div>
        </li>
      </ul>
    </nav>
  </div>

</div>