<div class="container logo-wrap">
  <div class="row pt-5">
    <div class="col-12 text-center">
      <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
        aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
      <h1 class="site-logo"><a routerLink="/">Agriculture</a></h1>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md  navbar-light">
  <div class="container">


    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pointer" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" routerLinkActive="active">Categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" *ngFor="let category of categories"
              routerLink="/categories/{{category.category_slug}}">{{category.category_name}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- END header -->